$brandBlack: #000;

$darkest: #191051;
$lightPink: #b21dac;
$darkPink: #9e1d97;
$purple: #651f76;
$darkBlue: #003479;
$lightBlue: #00a1e0;
$paleBlue: #c4d8e6;
$lightGreen: #226b49;
$darkGreen: #205b41;
$yellow: #ffc82e;

// Margin/padding variables
$margin: $gutter;
$padding: $gutter;

// Spacing
$basespace: 40px;
$baseheight: 24px;