@mixin outer-container {
  @include clearfix;
  max-width: $max-width;
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin half-container {
  @include clearfix;
  max-width: $max-width/2;
  margin: {
    left: auto;
    right: auto;
  }
}
